.section-services h3 {
	font-size: 34px;
	font-weight: 600 !important;
	color: #244638;
}
.section-services .ez-clean-btn-border {
	font-size: 16px;
	font-weight: 600;
	color: #244638;
}
.section-services .ez-clean-btn-gradient {
	font-size: 16px;
	font-weight: 600;
	color: #fee63a;
}
/* .signupForm .form-control {
	border: 1px solid #244638;
} */
