.clear-found-head h2 {
	font-size: 40px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 600;
	margin: 0;
}

.john-stars ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.john-martin {
	display: flex;
	align-items: center;
	padding-top: 40px;
}
.john-martin .john-img {
	max-width: 210px;
	margin-right: 40px;
}
.john-text h3 {
	font-size: 29px;
	color: #328340 !important;
	font-family: "Poppins";
	font-weight: 700;
	line-height: 39px;
}

.john-stars p {
	font-size: 14px;
	color: #244638;
	font-weight: 400;
}

.hire-btn a {
	background-image: linear-gradient(to right, #1d753f, #68a543);
	padding: 10px 30px;
	border-radius: 50px;
	font-size: 14px;
	color: #ffffff;
	font-family: "Poppins";
	font-weight: 500;
}

.hire-btn {
	margin-top: 20px;
}

.john-stars ul li a i {
	color: #fee63a;
}

.john-text {
	padding-left: 20px;
}

.john-stars span {
	font-size: 16px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 500;
	padding-left: 20px;
}

.john-para p {
	font-size: 13px;
	color: #777777;
	font-family: "Poppins";
	font-weight: 400;
	padding-top: 60px;
}

.for-grey-color {
	color: #dbdbdb !important;
}

.john-stars ul li a i {
	padding-right: 8px;
}

section.clear-found-sec {
	padding: 70px 70px 0;
}

.chat-with-cleaner a {
	font-size: 17px;
	color: #fff;
	font-family: "Poppins";
	font-weight: 600;
}

.acced-proceed a {
	font-size: 17px;
	color: #ffffff;
	font-family: "Poppins";
	font-weight: 600;
}

.reject a {
	font-size: 17px;
	color: #ffffff;
	font-family: "Poppins";
	font-weight: 600;
}

.acced-proceed {
	margin: 30px 0px;
}

section.clear-found-sec .row {
	display: flex;
	align-items: center;
}

.all-text-center {
	text-align: center;
}

.chat-with-cleaner {
	border: 1px solid #338340;
	/* padding: 10px 70px; */
	border-radius: 80px;
	width: 70%;
	background: linear-gradient(to right, #1d753f, #68a543);
	padding: 10px;
	margin: 20px auto;
}

.acced-proceed {
	border: 1px solid #338340;
	border-radius: 80px;
	background-image: linear-gradient(to right, #1d753f, #68a543);
	width: 70%;
	padding: 10px;
	margin: 20px auto;
}

.reject {
	border: 1px solid #df190a;
	background-color: #df190a;
	/* padding: 10px 70px; */
	border-radius: 80px;
	width: 70%;
	padding: 10px;
	margin: 20px auto;
}

/* Reviews Css Start Here */
.reviews_sec {
	margin-top: 70px;
}
.reviews_sec .heading {
	padding-bottom: 30px;
}
.reviews_sec .heading h3 {
	font-size: 35px;
	color: #000000;
}
.reviews_sec .reviewDv {
	border-bottom: 1px solid #ddd;
}
.reviews_sec .reviewDv:last-child {
	border: 0;
}
.reviews_sec .reviewDv:last-child .reviews {
	border-bottom: 0;
}
.reviews_sec .reviewDv .answersDv {
	padding: 15px 0 15px 100px;
	position: relative;
}
.reviews_sec .reviewDv .answersDv .vertical-line {
	width: 1px;
	height: 90%;
	background: #ddd;
	position: absolute;
	left: 10%;
	top: 5%;
}
.reviews_sec .reviewDv .reviews {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #ddd;
	padding: 25px 0px 15px;
}
.reviews_sec .reviewDv .reviews .user-img img {
	max-width: 350px;
	border-radius: 50%;
}
.reviews_sec .reviewDv .reviews .detailDv {
	padding-left: 16px;
}
.reviews_sec .reviewDv .reviews .detailDv .header {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}
.reviews_sec .reviewDv .reviews .detailDv .header h5.name {
	font-size: 18px;
	color: #000000;
	margin: 0;
}
.reviews_sec .reviewDv .reviews .detailDv .header p {
	color: #909090;
	font-size: 12px;
	margin: 0 0 0px 8px;
}
.reviews_sec .reviewDv .reviews .detailDv p {
	color: #525252;
	font-size: 13px;
}
.reviews_sec .bottom-bar ul {
	padding: 0;
	list-style: none;
	margin: 0;
}
.reviews_sec .bottom-bar .rating {
	display: flex;
	align-items: center;
}
.reviews_sec .bottom-bar ul li {
	display: inline-block;
	color: #fee63a;
}
.reviews_sec .bottom-bar p {
	margin: 0 0 0 8px;
}
.reviews_sec .bottom-bar {
	display: flex;
	align-items: center;
}
.reviews_sec .bottom-bar .rplyDv {
	margin-left: 30px;
}
.reviews_sec .bottom-bar .rplyDv a {
	color: #262262;
	text-decoration: none;
}
.reviews_sec .answersDv .answer:last-child {
	border: 0;
	padding-bottom: 0;
}
/* Reviews Sec Css End Here */
