.making-booking-text h2 {
	font-size: 40px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 600;
}

.making-booking-text p {
	font-size: 15px;
	color: #777777;
	font-family: "Poppins";
	font-weight: 400;
}

.making-two-buttons a {
	font-size: 16px;
	color: #ffffff;
	font-family: "Poppins";
	font-weight: 600;
	background-color: #a5a5a5;
	margin-right: 20px;
	width: 45%;
	display: block;
	text-align: center;
	padding: 7px 10px;
	border-radius: 60px;
	transition: 2s;
}
.making-two-buttons {
	display: flex;
	/* padding-bottom: 50px; */
	padding: 25px 0px;
}

.pic-text {
	text-align: center;
	padding: 10px;
}
.pic-text h5 {
	padding-top: 10px;
	font-size: 21px;
	color: #244638;
	font-weight: 600;
}

.making-two-buttons a:hover {
	background-image: linear-gradient(to right, #1d753f, #68a543);
}

h5.for-upper-padding {
	padding-top: 19px;
}

.making-img {
	position: relative;
	right: -156px;
}

section.faq-sec h4 {
	font-size: 18px;
	color: #ee9e03;
	font-family: "Poppins";
}

section.faq-sec {
	text-align: center;
	padding: 70px 0px;
	/* padding-top: 70px; */
}

section.faq-sec h4 a {
	color: #ee9e03 !important;
}

section.bbb-sec {
	background-color: #fef9ef;
	padding: 30px;
	text-align: center;
}

section.bbb-sec p {
	font-size: 18px;
	color: #297c3f;
	font-family: "Poppins";
	font-weight: 500;
	margin: 0;
}
