.for-pic-hover:hover {
	/* background-color: #fee63a; */
	/* padding: 30px;
	border-radius: 20px; */
}

.for-pic-hover {
	/* padding: 4px 0px; */
	cursor: pointer;
	padding: 12px;
}

.select-btn button {
	background-color: #a5a5a5;
	border: unset;
	width: 100%;
	padding: 11px;
	border-radius: 40px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
}
label.selectlabel {
	font-size: 16px;
	color: #244638;
	font-family: "Poppins";
	font-weight: 600;
}
select#cars {
	width: 100%;
	padding: 8px;
	border-radius: 40px;
	background-image: linear-gradient(to right, #1d753f, #68a543);
	color: #ffffff;
	outline: none;
	padding: 40px 0p;
	padding: 11px 30px;
	font-size: 13px;
	font-weight: 500;
	border: 0;
}
.adds-sec .adds-things label.add-container span.checkmark .for-checkbox {
	width: 22px;
	height: 22px;
	background: transparent;
	border: 2px solid #244638;
	border-radius: 4px;
}
.for-padding-up {
	padding-top: 20px;
}
.adds-sec .adds-things label.add-container span.checkmark .for-checkbox {
	width: 24px;
	height: 24px;
	background: transparent;
	border: 2px solid #244638;
	border-radius: 4px;
	line-height: 19px;
	padding: 0px 3px;
}
.adds-sec
	.adds-things
	label.add-container
	input:checked
	~ span.checkmark
	.for-checkbox
	img {
	opacity: 1;
}
.adds-sec .adds-things label.add-container span.checkmark .for-checkbox img {
	opacity: 0;
}
.adds-things label.add-container {
	display: flex;
	align-items: center;
}
.adds-things label.add-container span.checkmark {
	margin-left: 10px;
}
.standard-head h3 {
	font-size: 40px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 700;
	line-height: 70px;
}
.standard-head p {
	font-size: 12px;
	color: #777777;
	font-family: "Poppins";
	font-weight: 500;
}

.service-text h5 {
	font-size: 24px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 700;
}

.adds-things label {
	font-size: 16px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 400;
	padding-right: 22px;
}

section.adds-sec {
	padding: 40px 0px;
}

.form-input {
	padding-top: 40px;
}

section.address-detail-sec label {
	font-size: 13px;
	color: #244638;
	font-family: "Poppins";
	font-weight: 500;
}

.head-address h4 {
	font-size: 24px;
	color: #244638;
	font-family: "Poppins";
	font-weight: 700;
}

section.standard-sec {
	padding: 60px 0px 0;
}

.head-address {
	padding: 20px 0px;
}

.standard-head {
	padding-bottom: 20px;
}

.standard-regular h2 {
	font-size: 36px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 700;
}

.standard-regular h3 {
	font-size: 24px;
	color: #244638;
	font-family: "Poppins";
	font-weight: 600;
	margin: 0;
}

.standard-regular h4 {
	font-size: 18px;
	color: #244638;
	font-family: "Poppins";
	font-weight: 600;
}

.dv-charges h3 {
	font-size: 24px;
	color: #244638;
	font-family: "Poppins";
	font-weight: 700;
	margin: 0;
}
.dv-charges h2 {
	font-size: 48px;
	color: #244638;
	font-weight: 700;
}

.dv-charges::before {
	content: "";
	background-color: #fee63a;
	position: absolute;
	width: 34%;
	height: 100%;
	z-index: -1;
	border-radius: 120px;
	left: 80px;
	bottom: 20px;
}
.dv-charges {
	text-align: left;
	padding-top: 0px;
}
h2.for-left {
	position: relative;
	left: 48px;
}

.for-flex {
	display: flex;
	align-items: center;
	padding-top: 30px;
}

.standard-btn {
	background-image: linear-gradient(to right, #1d753f, #68a543);
	text-align: center;
	padding: 10px;
	border-radius: 50px;
	margin-top: 40px;
}

.standard-btn a {
	font-size: 19px;
	color: #ffffff;
	font-family: "Poppins";
	font-weight: 600;
}
